.center{
    text-align: center;
}

.right{
    text-align: right;
}

.border-red{
    border-bottom-style: solid;
    border-color: red;
    border-width: 0.5em;
}

.border-blue{
    border-bottom-style: solid;
    border-color: blue;
    border-width: 0.5em;
}