div{
    width: 200px;
    height: 150px;
    background-color:brown;
}
.bord1{
    border-style: solid;
    border-radius: 50px/15px;
}

.bord2{
    border-style: solid;
    border-radius: 15px/50px;
}

.bord3{
    border-style: solid;
    border-radius: 50%
}