div{
    width: 200px;
    height: 150px;
    background-color:brown;
}
.bord1{
    border-style: hidden;
    border-radius: 15px 50px 30px 5px;
}

.bord2{
    border-style: hidden;
    border-radius: 15px 50px 30px;
}

.bord3{
    border-style: hidden;
    border-radius: 15px 50px;
}