div{
    padding: 1em;
    width: fit-content;
}
.color-bord-round{
    border: solid;
    background-color:brown;
    border-radius: 0.5em;
}

.only-bord-round{
    border: solid;
    border-radius: 0.5em;
}

.back-bord-round{
    border: solid;
    border-radius: 0.5em;
    background-image: url("img.jpg") ;
}