

p.dotted{
    border-style: dotted;
}
p.dashed{
    border-style: dashed;
}
p.solid{
    border-style: solid;
}
p.double{
    border-style: double;
}
p.groove{
    border-style: groove;
}
p.ridge{
    border-style: dotted;
}
p.inset{
    border-style: inset;
}
p.outset{
    border-style: outset;
}
p.none{
    border-style: none;
}
p.hidden{
    border-style: hidden;
}
p.mix{
    border-style: dotted dashed solid double;
}

p{
    border-color: aqua;
}
