div.top-div{
    background-color: antiquewhite;
}

div.contenta{
    content: "\a";
    white-space: pre;
}

.bold-italic-p{
    font-style: italic;
    font-weight: bold;
}

div.botm-div{

    background-color: black;
}

.bord1{
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-style: hidden;
    border-radius: 25%;
}

.bord2{
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border-style: hidden;
    border-radius: 50%;
}